* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    background-image: url("../images/background-1773664_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

header { grid-area: header; }
.sidebar { grid-area: sidebar; }
main { grid-area: main; }
footer { grid-area: footer; }

.grid-container {
  display: grid;
  min-height: 100%;
  grid-template:
    '. . header header '
    'sidebar main main . '
    'footer footer footer footer  ';
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: .3em;
  padding: .3em;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: .8em 0;
  font-size: 1rem;
}

header {
    margin-top: 8%;
    width: 100%;
}
.name {
    width: 35vw;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2vw;
    background-color: rgba(168, 55, 41, 0.4);
    border: outset rgba(250, 235, 215, 0.4) .1em;
    border-radius: .3em;

}

h1 {
    color: antiquewhite;
    /* color: rgb(243, 232, 190); */
    margin: .1em;
    font-size: 3vw;
    letter-spacing: .1em;
    
}

h2 {
    font-size: 1.8vw;
    color:  rgb(97, 33, 25);
}

.sidebar {
    background-color: rgba(213, 70, 51, 0.603);
    margin-top: 5%;
    width: 10em;
    border: solid rgba(250, 235, 215, 0.534) .2em;
    border-radius: .3em;
}       

.sidebar a {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 1.5vw;
    padding: 2em;
    height: 100%;
    text-decoration: none;
    text-align: center;
    letter-spacing: .1em;

}

.sidebar a.active {
    color: antiquewhite;
    
}

.sidebar a:hover:not(.active) {
    color: rgba(230, 189, 78, 0.685);
    font-size: 1.6vw;

}

li {
    text-align: center;
}


main {
    height: 100%;
    margin: 5%;
    width: 100%;
    background-color: rgba(76, 101, 79, .6);
    border: inset rgba(65, 65, 65, 0.582) .2em;
    border-radius: .3em;
}

article {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2vw;
    margin: 9%;
    padding: 1.3rem;
    width: 80%;
    height: 50%;
    background-color: rgba(243, 232, 190, .4);
    border: inset  rgba(38, 51, 40, 0.3) .1em;
    border-radius: .3em;
}
p {
    padding: .1em;
    letter-spacing: .1em;
}

img {
    height: 20vh; 
    float: right;
    margin: 3%;
    border: inset  rgba(38, 51, 40, 0.3) .1em;
    border-radius: .3em;

}

/* form styling */

.container {
    height: 80%;
    width: 80%;
    background-color: rgba(243, 232, 190, .4);
    border: inset  rgba(38, 51, 40, 0.3) .1em;
    border-radius: .2em;
    position: relative;
    top: 10%;
    left: 10%;

}


form {
    margin: 0;
    height: 20rem;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
}


label {
    background-color: rgba(76, 101, 79, .6);
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    padding: .5rem;
    border-radius: .2em;
    border: inset  rgba(38, 51, 40, 0.3) .1em;

}

#name-input {
    position: relative;
    width: 60%;
    height: 2em;
    margin-left: 1.5rem;
}

#mail-input {
    position: relative;
    width: 60%;
    height: 2em;
    margin-left: 1.5rem;
}

#msg {
    position: relative;
    width: 55%;
    height: 9rem;
    margin-top: 2rem;
    margin-left: 2rem;
}


footer {
    background-color: rgba(213, 70, 51, 0.603);
    position: fixed;
    bottom: 0;
    height: 6em;
    width: 99%;
    padding: 1rem;
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    border: solid rgba(250, 235, 215, 0.534) .2em;
    border-radius: .3em;
    text-align: center;
}

@media (max-width: 960px) {

    body {
        height: 100%;
    }

    .grid-container {
        grid-template: 
                        "header"
                        "sidebar"
                        "main"
                        "footer"
    }
    .name {
        width: 100%;
    }
    .sidebar{
        width: 100%;
        margin: 0;
        height: 100%;
    }

    .sidebar a {
        padding: 0;
    }
    
    .wrap {
        size: 100vw;
    }

    main {
        width: 100%;
        margin: auto auto;
        height: 70vh;
        justify-items: center;
    }

    article {
        height: 40vh;
        font-size: 1.6vh;
    }
    
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    form {
        position: absolute;
        width: 100%;
    }
}
